<section {% if slide.video %} data-background-video="{{ slide.video }}" data-background-video-muted {% if
    slide.get('video_loop') %}data-background-video-loop{% endif %} {% elif slide.image %}
    data-background="{{ slide.image }}" data-background-opacity="{{ slide.get('data-background-opacity', 1.0) }}" {%
    endif %} {% if slide.background_gradient %} data-background-gradient="{{ slide.background_gradient }}" {% endif %}
    {% if slide.get('data-transition') %}data-transition="{{ slide.get('data-transition') }}" {% endif %} {% if
    slide.get('data-auto-animate') %}data-auto-animate{% endif %}>


    <div style="padding: 30px; width: 100%; text-align: center;">
        <img src="images/ACT.png" style="height: 120px; margin-bottom: 20px;">
        <h4 style="color: var(--accent); letter-spacing: 2px; text-shadow: 2px 2px 8px rgba(0,0,0,0.9);">ASSUMPTION
            COLLEGE MATHAYOM</h4>
        <h1 style="font-size: 3.5em; margin: 10px 0; color: white; text-shadow: 2px 2px 8px rgba(0,0,0,0.9);">{{
            slide.title }}</h1>
        <h3 style="opacity: 0.8; font-weight: normal; color: #FFD700; text-shadow: 2px 2px 8px rgba(0,0,0,0.9);">{{
            slide.subtitle }}</h3>
    </div>

    <aside class="notes">
        {{ slide.notes }}
    </aside>
</section>